<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Certifications
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-4">
                <div class="input-group">
                  <input id="input2-group2" name="input2-group2" class="form-control" placeholder="Mot Clé" type="text" [(ngModel)]="motCle">
                  <span class="input-group-append">
                          <button type="button" class="btn btn-primary"  (click)="chercher()"><i class="fa fa-search"></i> Chercher</button>
                        </span>
                </div>
            </div>
          </div>
          <form class="form-horizontal" #f="ngForm" id="form" (ngSubmit)="onSaveCertification(f.value)"></form>
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>id</th>
              <th>Certification</th>
              <th>URL</th>
              <th>Date Echéance</th>
              <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Auto</td>
              <td>
                <div class="form-group">
                  <label class="control-label" for="certificationName">Certification Name:</label>
                  <input minlength="4" id="certificationName" name="certName" #certificationName="ngModel" [(ngModel)]="certification.certName" class="form-control" size="16" type="text" required>
                  <div *ngIf="certificationName.invalid && (certificationName.dirty || certificationName.touched)"
                       class="alert alert-danger">
                    <div *ngIf="certificationName.errors.required">
                      CertificationName is required.
                    </div>
                    <div *ngIf="certificationName.errors.minlength">
                      CertificationName must be at least 4 characters long.
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="control-label" for="formationUrl">Certification URL:</label>
                  <input minlength="4" id="formationUrl" name="frmName" #certificationUrl="ngModel" [(ngModel)]="certification.url" class="form-control" size="16" type="text" required>
                  <div *ngIf="certificationUrl.invalid && (certificationUrl.dirty || certificationUrl.touched)"
                       class="alert alert-danger">
                    <div *ngIf="certificationUrl.errors.required">
                      CertificationURL is required.
                    </div>
                    <div *ngIf="certificationUrl.errors.minlength">
                      CertificationURL must be at least 4 characters long.
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="control-label" for="dateDebut">Date Echéance:</label>
                  <input id="dateDebut" class="form-control" name="dateStrt"  [(ngModel)]="certification.dateEch" size="16" type="date" required>
                </div>
              </td>

              <td>
                <button form="form"  type="submit" [disabled]="!f.valid"  class="btn btn-primary btn-xs" ><i class="fa fa-dot-circle-o"></i> Submit</button></td>
              <td>

              </td>
              <td></td>
            </tr>
                <tr *ngFor="let c of pageCertifications?.content | paginate: {
                                                      id: 'certifications',
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: currentPage,
                                                      totalItems: pageCertifications?.totalElements}">
                  <td>{{c?.id}}</td>
                  <td>{{c?.certName}}</td>
                  <td>{{c?.url}}</td>
                  <td>{{c?.dateEch}}</td>

                  <td><span [ngClass]="{'badge badge-pill badge-success':c?.statut==1,'badge badge-pill badge-warning':c?.statut==0}"> &nbsp;{{c?.statut}}&nbsp;</span>
                  </td>
                  <td><a (click)="onEditCertification(c.id)"><i class="fa fa-edit "></i> </a></td>
                  <td>
                  <button
                    class="btn btn-primary"
                    mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    placement="left"
                    (confirm)="onDeleteFormation(f)"
                    (cancel)="cancelClicked = true">
                    <i class="fa fa-trash "></i>
                  </button>
                  </td>
                </tr>

            </tbody>
          </table>
          <pagination-controls
            class="mypagination"
            id="certifications"
            (pageChange)="gotoPage($event)"
            maxSize="15"
            directionLinks="true"
            autoHide="true"
            previousLabel="Précédant"
            nextLabel="Suivant"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="Vous etes sur la page">
          </pagination-controls>
          <div class="col-xs-12 col-12 d-sm-down-none">
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
