<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-group"></i> les activités du groupe
            <button class="btn btn-sm btn-primary" (click)="myModal.show()"><i class="fa fa-plus"></i>
            </button>

        </div>
        <div class="card-body">
          <div class="form-group row">

            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i
                    class="fa fa-search"></i></div>
                </div>
                <input id="input2-group2" name="input2-group2" class="form-control form-control-sm"
                       placeholder="Chercher" type="text"
                       [(ngModel)]="motCle" (keyup)="chercher()">
              </div>
            </div>

            <div class="col-md-4">
              <ng-select id="users" name="users"
                         [items]="users"
                         bindValue="username"
                         [hideSelected]="true"
                         [(ngModel)]="selectedUser"
                         (change)="chercher()"
                         placeholder="Selectionnez un utilisateur"
                         notFoundText="Aucun utilisateur trouvé"
                         [typeahead]="usersTypeahead"
                         typeToSearchText="Saisir le nom d'utilisateur">

                <ng-template ng-label-tmp let-item="item">
                  <img [src]="'assets/img/avatars/'+item.username+'.jpg'"
                       onerror="this.src='assets/img/avatars/default.jpg'" width="20px" height="20px">
                  {{item.firstName+' '+item.lastName}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  <img [src]="'assets/img/avatars/'+item.username+'.jpg'"
                       onerror="this.src='assets/img/avatars/default.jpg'" width="20px" height="20px">
                  {{item.firstName+' '+item.lastName}}
                </ng-template>
              </ng-select>
            </div>

            <div class="col-md-4">
              <ng-select [items]="items"
                         [(ngModel)]="typeSelected"
                         (change)="doSearch()"
                         [searchable]="false"
                         placeholder="Toutes les activités"
                         multiple="true"
                         bindValue="shortType"
                         bindLabel="type">

                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label"><i [class]="item.logo"></i> {{item.shortType}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  <i [class]="item.logo"></i> {{item.type}}
                </ng-template>

              </ng-select>
            </div>

          </div>

          <table class="table table-sm">
            <thead>
            <tr>
              <th>Type d'activité</th>
              <th>Début</th>
              <th>Fin</th>
              <th>Durée</th>
              <th>Statut</th>
              <th>Intervenant</th>
              <th>Détails</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of pageActivities?.content | paginate: {
                                                      id: 'activities',
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: currentPage,
                                                      totalItems: pageActivities?.totalElements}">
              <td>{{a?.typeActivite}}</td>
              <td><span class="badge badge-pill badge-light">{{a.dteStrt | date:"dd/MM/yy HH:mm"}}</span>
              </td>
              <td><span class="badge badge-pill badge-light">{{a.dteEnd | date:"dd/MM/yy HH:mm"}}</span>
              </td>
              <td><span class="badge badge-pill badge-dark">{{activityService.ShortconvertMinutesToHoursAndMinute(a.durtion)}}</span>
              </td>
              <td><span [class]="a.statut?'badge badge-pill badge-success':'badge badge-pill badge-info'">{{a.statut?'Realisé':'Planifié'}}</span>
              </td>
              <td>{{a?.user?.username}}</td>
              <td>
                <button class="btn btn-outline-primary btn-sm" (click)="detectModal(a)"><i
                  class="fa fa-eye"></i></button>
              </td>
              <td>
                <div class="btn-group" dropdown>
                  <button dropdownToggle type="button" class="btn btn-outline-primary btn-sm dropdown-toggle">
                    <i class="fa fa-cog"></i><span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                      <button class="dropdown-item small" (click)="onEditMyActivity(a);"><i class="fa fa-edit"></i>
                        Modifier
                      </button>
                    </li>
                    <li role="menuitem">
                      <button type="button" class="dropdown-item small" data-toggle="modal"
                              (click)="selectActivity(a); dangerModal.show();">
                        <i class="fa fa-remove"></i> Supprimer
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls
            class="mypagination"
            id="activities"
            (pageChange)="gotoPage($event)"
            maxSize="15"
            directionLinks="true"
            autoHide="true"
            previousLabel="Précédant"
            nextLabel="Suivant"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="Vous etes sur la page">
          </pagination-controls>
          <div class="col-xs-12 col-12 d-sm-down-none">
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="card-title text-center">Selectionnez le type d'activité :</h5>

        <div class="list-group">
          <button type="button" (click)="myModal.hide(); newactivityRequestModal.show();"
                  class="list-group-item list-group-item-action">
            <i class="fa fa-bullhorn"></i> Activité support
          </button>
          <button type="button" (click)="myModal.hide(); newactivityProjectModal.show();"
                  class="list-group-item list-group-item-action">
            <i class="fa fa-product-hunt"></i> Activité projet
          </button>
          <button type="button" (click)="myModal.hide(); newactivityHolidayModal.show();"
                  class="list-group-item list-group-item-action">
            <i class="fa fa-plane"></i> Activité congé
          </button>
        </div>


      </div>
    </div>
  </div>
</div>

<new-ap-cablage bsModal #newactivityProjectModal="bs-modal" [modal]="newactivityProjectModal"
                    [lastActivity]="lastActivity"
                    (refresh)="ngOnInit()"
                    class="modal fade"
                    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></new-ap-cablage>


<new-activity-holiday bsModal #newactivityHolidayModal="bs-modal" [modal]="newactivityHolidayModal"
                     [lastActivity]="lastActivity"
                     (refresh)="ngOnInit()"
                     class="modal fade"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true"></new-activity-holiday>



<new-as-cablage bsModal #newactivityRequestModal="bs-modal" [modal]="newactivityRequestModal"
                     [lastActivity]="lastActivity"
                     (refresh)="ngOnInit()"
                     class="modal fade"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true"></new-as-cablage>




<edit-activity-request bsModal #editactivityRequestModal="bs-modal"
                       [modal]="editactivityRequestModal"
                       [activityRequest]="activityRequest"
                       [dureeConverted]="dureeConverted"
                       [disabledStatut]="disabledStatut"
                       [requestOk]="true"
                       (refresh)="ngOnInit()"
                       [toDo]="true"
                       class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-request>





<edit-activity-project bsModal #editactivityProjectModal="bs-modal"
                       [modal]="editactivityProjectModal"
                       [activityProject]="activityProject" [projects]="projects"
                       [dureeConverted]="dureeConverted"
                       [disabledStatut]="disabledStatut"
                       (refresh)="ngOnInit()"
                       [toDo]="true"
                       class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-project>

<edit-activity-holiday bsModal #editactivityHolidayModal="bs-modal"
                       [modal]="editactivityHolidayModal"
                       [activityHoliday]="activityHoliday"
                       [disabledStatut]="disabledStatut"
                       (refresh)="ngOnInit()"
                       [toDo]="true"
                       class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-holiday>




<show-activity-request bsModal #activityRequestModal="bs-modal" [modal]="activityRequestModal"
                       [activityRequest]="activityRequest" class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-request>

<show-activity-project bsModal #activityProjectModal="bs-modal" [modal]="activityProjectModal"
                       [activityProject]="activityProject" class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-project>


<show-activity-holiday bsModal #activityHolidayModal="bs-modal" [modal]="activityHolidayModal"
                       [activityHoliday]="activityHoliday" class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-holiday>


