<div class="animated fadeIn">


  <div class="form-group row">

    <div class="col-md-4 mx-auto">
      <ng-select id="users" name="users"
                 [items]="users"
                 bindValue="username"
                 [hideSelected]="true"
                 [(ngModel)]="selectedUser"
                 (change)="fetchEvents()"
                 placeholder="Selectionnez un utilisateur"
                 notFoundText="Aucun utilisateur trouvé"
                 [typeahead]="usersTypeahead"
                 typeToSearchText="Saisir le nom d'utilisateur">

        <ng-template ng-label-tmp let-item="item">
          <img [src]="'assets/img/avatars/'+item.username+'.jpg'"
               onerror="this.src='assets/img/avatars/default.jpg'" width="20px" height="20px">
          {{item.firstName+' '+item.lastName}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <img [src]="'assets/img/avatars/'+item.username+'.jpg'"
               onerror="this.src='assets/img/avatars/default.jpg'" width="20px" height="20px">
          {{item.firstName+' '+item.lastName}}
        </ng-template>
      </ng-select>
    </div>

  </div>

  <mwl-demo-utils-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="fetchEvents()"
    (viewChange)="fetchEvents()"
    [locale]="locale">
  </mwl-demo-utils-calendar-header>

  <ng-template #loading>
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i>
      <br>
      Chargement des activitées..
    </div>
  </ng-template>

  <div *ngIf="events$ | async; else loading; let events">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="eventClicked($event.event)"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event.event)"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event.event)"
        [locale]="locale"
      >
      </mwl-calendar-day-view>
    </div>
  </div>

</div>

<show-activity-si bsModal #activitySIModal="bs-modal" [modal]="activitySIModal"
                  [activitySI]="activitySI" class="modal fade" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-si>

<show-activity-request bsModal #activityRequestModal="bs-modal" [modal]="activityRequestModal"
                       [activityRequest]="activityRequest" class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-request>

<show-activity-project bsModal #activityProjectModal="bs-modal" [modal]="activityProjectModal"
                       [activityProject]="activityProject" class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-project>

<show-activity-recouvrement bsModal #activityRecouvrementModal="bs-modal" [modal]="activityRecouvrementModal"
                            [activityRecouvrement]="activityRecouvrement" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-recouvrement>

<show-activity-commercial bsModal #activityCommercialModal="bs-modal" [modal]="activityCommercialModal"
                          [activityCommercial]="activityCommercial" class="modal fade" tabindex="-1" role="dialog"
                          aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-commercial>

<show-activity-holiday bsModal #activityHolidayModal="bs-modal" [modal]="activityHolidayModal"
                       [activityHoliday]="activityHoliday" class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-holiday>

<show-activity-pm bsModal #activityPMModal="bs-modal" [modal]="activityPMModal"
                  [activityPM]="activityPM" class="modal fade" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-pm>

<show-activity-avant-vente bsModal #activityAvantVenteModal="bs-modal" [modal]="activityAvantVenteModal"
                           [activityAvantVente]="activityAvantVente" class="modal fade" tabindex="-1" role="dialog"
                           aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-avant-vente>

<show-activity-dev-competence bsModal #activityDevCompetenceModal="bs-modal" [modal]="activityDevCompetenceModal"
                              [activityDevCompetence]="activityDevCompetence" class="modal fade" tabindex="-1" role="dialog"
                              aria-labelledby="myModalLabel" aria-hidden="true"></show-activity-dev-competence>




