<div class="animated fadeIn">
  <edit-activityProject-modal bsModal #editActivityProjectModal="bs-modal" [modal]="editActivityProjectModal"
                              class="modal fade" [activityProject]="modalData?.event.meta.activity"
                              tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></edit-activityProject-modal>

  <edit-activityProject-modal bsModal #newActivityProjectModal="bs-modal" [modal]="newActivityProjectModal"
                              class="modal fade" [activityProject]="modalData?.event.meta.activity"
                              tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></edit-activityProject-modal>

  <ng-template #modalActivityProject let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
    </div>
  </ng-template>

  <mwl-demo-utils-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="fetchEvents()"
    (viewChange)="fetchEvents()"
    [locale]="locale">
  >
  </mwl-demo-utils-calendar-header>

  <ng-template #loading>
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i>
      <br>
      Chargement des activitées..
    </div>
  </ng-template>

  <div *ngIf="events$ | async; else loading; let events">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="eventClicked($event.event)"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event.event)"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event.event)"
        [locale]="locale"
      >
      </mwl-calendar-day-view>
    </div>
  </div>

</div>
