<div class="animated fadeIn">
  <div class="col-sm-9 offset-md-2" *ngIf="mode==1">
    <div class="card">
      <div class="card-header" [ngStyle]="{'background-color':activityRecouvrement.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
        <strong>Recouvrement</strong>
        <small>Activité</small>
        <p></p>
        <alert type="md-color" *ngIf="error==1">
          <strong> Oups! </strong> Vous ne pouvez pas réaliser une activité après cette date : <span class="badge badge-warning">{{currentDate | date: "dd/MM/yyyy HH:mm" }}</span>
        </alert>
        <alert type="md-color" *ngIf="error==2">
          <strong> Oups ! </strong> {{returnedError}}
        </alert>
      </div>
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onEditActivityRecouvrement(f.value)">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label" >Date de début</label>
              <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" placeholder="Date début"
                     [(ngModel)]="activityRecouvrement.dteStrt" name="dteStrt" required (ngModelChange)="onDatesChanged()">
              <span [owlDateTimeTrigger]="dt"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt></owl-date-time>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" >Date de fin</label>
              <input [min]="activityRecouvrement.dteStrt" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="Date et heure de fin"
                     [(ngModel)]="activityRecouvrement.dteEnd" name="dteEnd" (ngModelChange)="onDatesChanged()"  required>
              <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt1></owl-date-time>
            </div>
          </div><!--/.row-->

          <div class="row">
            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label">Client</label>
                <ng-select [items]="customers"
                           bindLabel="name"
                           name="customer"
                           placeholder="Selectionner un client"
                           [(ngModel)]="activityRecouvrement.customer"
                           (change)="teste()"
                           required
                >

                </ng-select>
              </div>

            </div>

            <div class="form-group col-sm-6">
              <label class="control-label">Projet</label>
              <ng-select [items]="projects"
                         bindLabel="prjName"
                         name="project"
                         placeholder="Selectionner un projet"
                         [(ngModel)]="activityRecouvrement.project"
                         required>
              </ng-select>
              <p class="error" *ngIf="activityRecouvrement.customer.code == 0">Veuillez sélectionner un client</p>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label" for="lieu">Lieu</label>
                <select class="form-control" id="lieu" [(ngModel)]="activityRecouvrement.lieu" name="lieu" required>
                  <option>Client</option>
                  <option>Munisys</option>
                  <option>Domicile</option>
                </select>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" for="nature">Nature de l'activité</label>
              <select class="form-control" id="nature" [(ngModel)]="activityRecouvrement.nature" name ="nature" #nature="ngModel" required>
                <option>Projet</option>
                <option>Réunion</option>
                <option>Pilotage contrat</option>
                <option>Encadrement / Plannification</option>
              </select>
              <div *ngIf="nature.invalid && (nature.dirty || nature.touched)" class="alert alert-danger">
                <div *ngIf="nature.errors.required">
                  La nature est obligatoire.
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <label class="control-label" for="comments">Commentaire</label>
            <textarea minlength="1"  id="comments" name="comments" #comments="ngModel" [(ngModel)]="activityRecouvrement.comments" rows="9" class="form-control" placeholder="Content.." style="margin-top: 0px; margin-bottom: 0px; height: 56px;" required></textarea>
            <div *ngIf="comments.invalid && (comments.dirty || comments.touched)"
                 class="alert alert-danger">
              <div *ngIf="comments.errors.required">
                Commentaire est requis.
              </div>
              <div *ngIf="comments.errors.minlength">
                Un commentaire doit au minimum contenir 5 caracteres
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label class="col-form-label">Statut</label>
              <div class="col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio3" [value]="true" [(ngModel)]="activityRecouvrement.statut" name="inline-radios"   ><!---[attr.disabled]="disabledStatut"-->
                  <label class="form-check-label" for="inline-radio3">Réalisé</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio4" [value]="false" [(ngModel)]="activityRecouvrement.statut" name="inline-radios">
                  <label class="form-check-label" for="inline-radio4">Planifié</label>
                </div>

              </div>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" for="ville">Ville</label>
              <select class="form-control" id="ville" [(ngModel)]="activityRecouvrement.ville" name="ville" required #ville="ngModel">
                <option>Casablanca</option>
                <option>Fes</option>
                <option>Agadir</option>
              </select>
              <div *ngIf="nature.invalid && (nature.dirty || nature.touched)" class="alert alert-danger">
                <div *ngIf="ville.errors.required">
                  La ville est obligatoire.
                </div>
              </div>
            </div>
          </div>



        </div><!--/.col-->
        <div class="card-footer" [ngStyle]="{'background-color':activityRecouvrement.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
          <button [disabled]="!f.valid" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>

    </div>
  </div>

  <div class="col-sm-9 offset-md-2" *ngIf="mode==2">
    <div class="card">
      <div class="card-header" [ngStyle]="{'background-color':activityRecouvrement.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
        <i class="fa fa-edit"></i>Confirmation de la modification de l'activité
      </div>
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveActivityRecouvrement(f.value)">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label" ><strong>Date de début:</strong></label>
              <label><span class="badge badge-warning">{{activityRecouvrement.dteStrt | date: 'dd/MM/yyyy HH:mm'}}</span></label>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" ><strong>Date de fin:&nbsp;</strong></label>
              <label><span class="badge badge-warning">{{activityRecouvrement.dteEnd | date: 'dd/MM/yyyy HH:mm'}}</span></label>
            </div>
          </div><!--/.row-->

          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label" ><strong>Id:</strong></label>
              <label>{{activityRecouvrement.id }}</label>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" ><strong>Durée (Min):&nbsp;</strong></label>
              <label>{{activityRecouvrement.durtion }}</label>
            </div>
          </div><!--/.row-->

          <div class="row">
            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label"><strong>Client:</strong></label>
                <label>{{activityRecouvrement.customer.code}}</label>
              </div>

            </div>

            <div class="form-group col-sm-6">
              <label class="control-label"><strong>Projet:</strong></label>
              <label>{{activityRecouvrement.project.prjId}}</label>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label" for="lieu"><strong>Lieu:</strong></label>
                <label>{{activityRecouvrement.lieu}}</label>
              </div>

            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" for="nature"><strong>Nature de l'activité:</strong> </label>
              <label>{{activityRecouvrement.nature}}</label>
            </div>

          </div>

          <div class="form-group">
            <label class="control-label" for="comments1"><strong>Commentaire:</strong></label>
            <textarea minlength="1"  id="comments1" name="comments1"  rows="9" class="form-control" placeholder="Content.." style="margin-top: 0px; margin-bottom: 0px; height: 56px;" disabled>{{activityRecouvrement.comments}}</textarea>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label class="col-form-label"><strong>Statut:</strong></label>
              <div class="col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio1" [value]="true" [(ngModel)]="activityRecouvrement.statut" name="inline-radios" disabled><!---[attr.disabled]="disabledStatut"-->
                  <label class="form-check-label" for="inline-radio1">Réalisé</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio2" [value]="false" [(ngModel)]="activityRecouvrement.statut" name="inline-radios" disabled>
                  <label class="form-check-label" for="inline-radio2">Planifié</label>
                </div>

              </div>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" for="ville"><strong>Ville:</strong></label>
              <label>{{activityRecouvrement.ville}}</label>
            </div>
          </div>


        </div><!--/.col-->
        <div class="card-footer" [ngStyle]="{'background-color':activityRecouvrement.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
          <button (click)="mode=1"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Modifier l'activitée</button>
        </div>
      </form>

    </div>
  </div>
</div>

