<div class="animated fadeIn">


  <div class="row">
    <div class="col-md-4">
      <div class="metric">
        <span class="icon"><i class="fa fa-bar-chart"></i></span>
        <p>
          <span class="number text-right">{{statistics?.realisedActivitiesOnthisMonth}}</span>
          <span class="title">Activités réalisés</span>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="metric">
        <span class="icon"><i class="fa fa-star"></i></span>
        <p>
          <span class="number text-right">{{statistics?.activitiesRealisedOnWeekEndThisMonth}}</span>
          <span class="title">Activités en week end</span>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="metric">
        <span class="icon"><i class="fa fa-line-chart"></i></span>
        <p>
          <span class="number text-right">{{statistics?.productiviteThisMonth.toFixed(1)}} %</span>
          <span class="title">Charge de Travail</span>
        </p>
      </div>
    </div>
  </div>

  <div class="card-columns cols-2">
    <div>
      <div class="card" *ngIf="pageActivities?.content?.length>0">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Activités à réaliser
        </div>
        <div class="card-body">
          <table class="table table-sm table-responsive table-hover">
            <thead>
            <tr>
              <th>Type</th>
              <th>Debut</th>
              <th>Fin</th>
              <th>Durée</th>
              <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            <tr [class]="a.statut?'table-success':'table-light'" (click)="selectActivity(a)" *ngFor="let a of pageActivities?.content | paginate: {
                                                      id: 'activities',
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: currentPage,
                                                      totalItems: pageActivities?.totalElements}">
              <td>{{detectAbrevi(a.typeActivite)}}</td>
              <td><span class="badge badge-pill badge-light">{{a.dteStrt | date:"dd/MM/yy HH:mm"}}</span>
              </td>
              <td><span class="badge badge-pill badge-light">{{a.dteEnd | date:"dd/MM/yy HH:mm"}}</span>
              </td>
              <td><span class="badge badge-pill badge-dark">{{activityService.ShortconvertMinutesToHoursAndMinute(a.durtion)}}</span>
              </td>
              <td><span [class]="a.statut?'badge badge-pill badge-success':'badge badge-pill badge-info'">{{a.statut?'Realisé':'Planifié'}}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls
            class="mypagination"
            id="activities"
            (pageChange)="gotoPage($event)"
            maxSize="15"
            directionLinks="true"
            autoHide="true"
            previousLabel="Précédant"
            nextLabel="Suivant"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="Vous etes sur la page">
          </pagination-controls>
          <div class="col-xs-12 col-12 d-sm-down-none">
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class="card" *ngIf="pageActivitiesHoliday?.content?.length>0">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Activités congé
        </div>
        <div class="card-body">
          <table class="table table-sm table-responsive table-hover">
            <thead>
            <tr>
              <th>Type</th>
              <th>Debut</th>
              <th>Fin</th>
              <th>Durée</th>
              <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            <tr [class]="a.statut?'table-success':'table-light'" (click)="selectActivity(a)" *ngFor="let a of pageActivitiesHoliday?.content | paginate: {
                                                      id: 'activitiesHoliday',
                                                      itemsPerPage: itemsPerPageHoliday,
                                                      currentPage: currentPageHoliday,
                                                      totalItems: pageActivitiesHoliday?.totalElements}">
              <td>{{detectAbrevi(a.typeActivite)}}</td>
              <td><span class="badge badge-pill badge-light">{{a.dteStrt | date:"dd/MM/yy HH:mm"}}</span>
              </td>
              <td><span class="badge badge-pill badge-light">{{a.dteEnd | date:"dd/MM/yy HH:mm"}}</span>
              </td>
              <td><span class="badge badge-pill badge-dark">{{activityService.ShortconvertMinutesToHoursAndMinute(a.durtion)}}</span>
              </td>
              <td><span [class]="a.statut?'badge badge-pill badge-success':'badge badge-pill badge-info'">{{a.statut?'Realisé':'Planifié'}}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls
            class="mypagination"
            id="activitiesHoliday"
            (pageChange)="gotoPageHoliday($event)"
            maxSize="15"
            directionLinks="true"
            autoHide="true"
            previousLabel="Précédant"
            nextLabel="Suivant"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="Vous etes sur la page">
          </pagination-controls>
          <div class="col-xs-12 col-12 d-sm-down-none">
          </div>

        </div>
      </div>
    </div>

  </div>

  <div *ngIf="statistics" class="card-columns cols-2">


    <div class="chart-wrapper">
      <canvas baseChart class="chart"
              [chartType]="lineChartType"
              [labels]="lineChartLabels"
              [datasets]="lineChartData"
              [options]="optionsLine">

      </canvas>
    </div>


    <div class="chart-wrapper">
      <canvas baseChart class="chart"
              [chartType]="barChartType"
              [labels]="barChartLabels"
              [datasets]="barChartData"
              [options]="optionsbar">

      </canvas>
    </div>

  </div>

  <div *ngIf="statistics" class="card-columns cols-2">


    <div *ngIf="pieChartData" class="chart-wrapper">
      <canvas baseChart class="chart"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="options"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">

      </canvas>
    </div>

    <div *ngIf="pieChartData1" class="chart-wrapper">
      <canvas baseChart class="chart"
              [data]="pieChartData1"
              [labels]="pieChartLabels1"
              [chartType]="pieChartType"
              [options]="options1"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">

      </canvas>
    </div>

  </div>

</div>

<edit-activity-request bsModal #editactivityRequestModal="bs-modal" [toDo]="true" [disabledStatut]="disabledStatut"
                       [modal]="editactivityRequestModal"
                       [requestOk]="true"
                       [activityRequest]="activityRequest"
                       [dureeConverted]="dureeConverted"
                       (refresh)="ngOnInit()"
                       class="modal fade" tabindex="-1"
                       role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-request>

<edit-activity-si bsModal #editactivitySIModal="bs-modal" [toDo]="true" [disabledStatut]="disabledStatut"
                  [modal]="editactivitySIModal"
                  [activitySI]="activitySI"
                  [dureeConverted]="dureeConverted"
                  (refresh)="ngOnInit()"
                  class="modal fade" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-si>

<edit-activity-recouvrement bsModal #editactivityRecouvrementModal="bs-modal" [toDo]="true"
                            [disabledStatut]="disabledStatut"
                            [modal]="editactivityRecouvrementModal"
                            [activityRecouvrement]="activityRecouvrement"
                            [dureeConverted]="dureeConverted"
                            (refresh)="ngOnInit()"
                            class="modal fade"
                            tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-recouvrement>

<edit-activity-project bsModal #editactivityProjectModal="bs-modal" [toDo]="true" [disabledStatut]="disabledStatut"
                       [modal]="editactivityProjectModal"
                       [activityProject]="activityProject" [projects]="projects"
                       [dureeConverted]="dureeConverted"
                       (refresh)="ngOnInit()"
                       class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-project>

<edit-activity-holiday bsModal #editactivityHolidayModal="bs-modal" [toDo]="true" [disabledStatut]="disabledStatut"
                       [modal]="editactivityHolidayModal"
                       [activityHoliday]="activityHoliday"
                       (refresh)="getActivityHoliday()"
                       class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-holiday>

<edit-activity-commercial bsModal #editactivityCommercialModal="bs-modal" [toDo]="true"
                          [disabledStatut]="disabledStatut"
                          [modal]="editactivityCommercialModal"
                          [activityCommercial]="activityCommercial"
                          [dureeConverted]="dureeConverted"
                          (refresh)="ngOnInit()"
                          class="modal fade"
                          tabindex="-1" role="dialog"
                          aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-commercial>

<edit-activity-avant-vente bsModal #editactivityAvantVenteModal="bs-modal" [toDo]="true" [disabledStatut]="disabledStatut"
                       [modal]="editactivityAvantVenteModal"
                       [activityAvantVente]="activityAvantVente"
                       [dureeConverted]="dureeConverted"
                       (refresh)="ngOnInit()"
                       class="modal fade" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel" aria-hidden="true"></edit-activity-avant-vente>
