<div class="animated fadeIn">
  <div class="col-sm-8 offset-md-2" *ngIf="mode==1">

    <div class="card">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveActivityRequest(f.value)">
        <div class="card-header"
             [ngStyle]="{'background-color':activityRequest.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
          <strong>Support</strong>
          <small>Activité</small>
          <p></p>
          <alert type="md-color" *ngIf="error==1">
            <strong> Oups! </strong> Vous ne pouvez pas réaliser une activité après cette date : <span
            class="badge badge-warning">{{currentDate | date: "dd/MM/yyyy HH:mm" }}</span>
          </alert>
          <alert type="md-color" *ngIf="error==2">
            <strong> Oups ! </strong> {{returnedError}}
          </alert>

        </div>

        <div class="card-body">

          <div class="row">

            <div class="form-group col-sm-6">
              <label class="control-label">Numéro de la demande</label>
              <div class="input-group">
                <span class="input-group-prepend">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                  </span>
                <input minlength="10" class="form-control form-control-sm" placeholder="Numéro de la demande"
                       aria-label="Input group example" aria-describedby="btnGroupAddon" maxlength="10" id="rqtExcde"
                       name="rqtExcde" #rqtExcde="ngModel" [(ngModel)]="activityRequest.request.rqtExcde" size="10"
                       type="text" (change)="onSearchRequest()" required>
                <div *ngIf="rqtExcde.invalid && (rqtExcde.dirty || rqtExcde.touched)"
                     class="error">
                  <div *ngIf="rqtExcde.errors.required">
                    Le numéro de la demande est obligatoire.
                  </div>
                  <div *ngIf="rqtExcde.errors.minlength">
                    Le numéro de la demande doit contenir 10 chiffres.
                  </div>
                </div>

              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label">Détail de la demande</label>
              <button class="btn btn-primary" type="button" [disabled]="!requestOk" (click)="detectModal()"><i
                class="fa fa-eye"></i> Plus d'informations +
              </button>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label">Date de début</label>

              <div class="input-group">
                  <span class="input-group-prepend" [owlDateTimeTrigger]="dt">
                    <button class="btn btn-primary" type="button"> <i class="fa fa-calendar"></i></button>
                  </span>
                <input class="form-control form-control-sm" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                       placeholder="Date début"
                       [(ngModel)]="activityRequest.dteStrt" name="dteStrt" required (ngModelChange)="onDatesChanged()">
                <owl-date-time #dt></owl-date-time>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label">Date de fin</label>


              <div class="input-group">
                  <span class="input-group-prepend" [owlDateTimeTrigger]="dt1">
                    <button class="btn btn-primary" type="button"> <i class="fa fa-calendar"></i></button>
                  </span>

                <input class="form-control form-control-sm" [min]="activityRequest.dteStrt" [owlDateTimeTrigger]="dt1"
                       [owlDateTime]="dt1" placeholder="Date et heure de fin"
                       [(ngModel)]="activityRequest.dteEnd" name="dteEnd" (ngModelChange)="onDatesChanged()" required>
                <span></span>
                <owl-date-time #dt1></owl-date-time>
              </div>

            </div>


          </div><!--/.row-->

          <div class="row">

            <div class="form-group col-sm-6">
              <label class="control-label" for="nature">Nature de l'activité</label>
              <select class="form-control form-control-sm" id="nature" [(ngModel)]="activityRequest.nature"
                      name="nature" #nature="ngModel" placeholder="Séclectionner la nature de l'activité" required>
                <option>Request</option>
                <option>Réunion</option>
                <option>Nature 3</option>
                <option>Nature 4</option>
              </select>
              <div *ngIf="nature.invalid && (nature.dirty || nature.touched)" class="error">
                <div *ngIf="nature.errors.required">
                  La nature est obligatoire.
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label">Client</label>
                <ng-select
                  class="ngselects"
                  [items]="customers"
                  bindLabel="name"
                  name="customer"
                  placeholder="Selectionner un client"
                  [(ngModel)]="activityRequest.customer"
                  required
                >
                </ng-select>

              </div>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label" for="lieu">Lieu</label>
                <select class="form-control form-control-sm" id="lieu" [(ngModel)]="activityRequest.lieu" name="lieu"
                        required>
                  <option>Client</option>
                  <option>Munisys</option>
                  <option>Domicile</option>
                </select>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" for="ville">Ville</label>
              <select class="form-control form-control-sm" id="ville" [(ngModel)]="activityRequest.ville" name="ville"
                      required #ville="ngModel">
                <option>Casablanca</option>
                <option>Fes</option>
                <option>Agadir</option>
              </select>
              <div *ngIf="nature.invalid && (nature.dirty || nature.touched)" class="error">
                <div *ngIf="ville.errors.required">
                  La ville est obligatoire.
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-sm-6">
              <label class="control-label" for="comments">Commentaire</label>
              <textarea minlength="1" id="comments" name="comments" #comments="ngModel"
                        [(ngModel)]="activityRequest.comments" rows="3" class="form-control form-control-sm"
                        placeholder="Action" style="margin-top: 0px; margin-bottom: 0px; height: 56px;"
                        required></textarea>
              <div *ngIf="comments.invalid && (comments.dirty || comments.touched)"
                   class="error">
                <div *ngIf="comments.errors.required">
                  Commentaire est requis.
                </div>
                <div *ngIf="comments.errors.minlength">
                  Un commentaire doit au minimum contenir 5 caracteres
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label class="col-form-label">Statut</label>
              <div class="col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio3" [value]="true"
                         [(ngModel)]="activityRequest.statut" name="inline-radios">
                  <!---[attr.disabled]="disabledStatut"-->
                  <label class="form-check-label" for="inline-radio3">Réalisé</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio4" [value]="false"
                         [(ngModel)]="activityRequest.statut" name="inline-radios">
                  <label class="form-check-label" for="inline-radio4">Planifié</label>
                </div>

              </div>
            </div>

          </div>


        </div><!--/.col-->
        <div class="card-footer"
             [ngStyle]="{'background-color':activityRequest.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
          <button [disabled]="!f.valid" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
            Submit
          </button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-sm-9 offset-md-2" *ngIf="mode==2">
    <div class="card">
      <div class="card-header"
           [ngStyle]="{'background-color':activityRequest.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
        <i class="fa fa-edit"></i>Confirmation d'ajout de l'activité support id : {{activityRequest.id }}
      </div>
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveActivityRequest(f.value)">
        <div class="card-body">
          <div class="row">

            <div class="form-group col-sm-6">
              <label class="control-label"><strong>Date de début:</strong></label>
              <label><span
                class="badge badge-warning">{{activityRequest.dteStrt | date: 'dd/MM/yyyy HH:mm'}}</span></label>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label"><strong>Date de fin:&nbsp;</strong></label>
              <label><span
                class="badge badge-warning">{{activityRequest.dteEnd | date: 'dd/MM/yyyy HH:mm'}}</span></label>
            </div>
          </div><!--/.row-->

          <div class="row">

            <div class="form-group col-sm-6">
              <label class="control-label"><strong>Durée (Min):&nbsp;</strong></label>
              <label>{{activityRequest.durtion }}</label>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" for="nature"><strong>Nature de l'activité:</strong> </label>
              <label>{{activityRequest.nature}}</label>
            </div>
          </div><!--/.row-->


          <div class="row">

            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label"><strong>Client:</strong></label>
                <label>{{activityRequest.customer.code}}</label>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <div class="form-group">
                <label class="control-label"><strong>Lieu / ville</strong></label>
                <label>{{activityRequest.lieu}} / {{activityRequest.ville}}</label>
              </div>
            </div>


          </div>


          <div class="row">

            <div class="form-group col-sm-6">
              <label class="control-label" for="comments1"><strong>Commentaire:</strong></label>
              <textarea minlength="1" id="comments1" name="comments1" rows="9" class="form-control"
                        placeholder="Content.." style="margin-top: 0px; margin-bottom: 0px; height: 56px;" disabled>{{activityRequest.comments}}</textarea>
            </div>


            <div class="form-group col-sm-6">
              <label class="col-form-label"><strong>Statut:</strong></label>
              <div class="col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio1" [value]="true"
                         [(ngModel)]="activityRequest.statut" name="inline-radios" disabled>
                  <!---[attr.disabled]="disabledStatut"-->
                  <label class="form-check-label" for="inline-radio1">Réalisé</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="inline-radio2" [value]="false"
                         [(ngModel)]="activityRequest.statut" name="inline-radios" disabled>
                  <label class="form-check-label" for="inline-radio2">Planifié</label>
                </div>

              </div>
            </div>

          </div>


        </div><!--/.col-->
        <div class="card-footer"
             [ngStyle]="{'background-color':activityRequest.statut=== true ?'rgb(135, 243, 158)':'rgb(158, 225, 251)'}">
          <button (click)="mode=1" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Nouvelle activité
            request
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<request-modal bsModal #requestModal="bs-modal" [modal]="requestModal"
               class="modal fade" [request]="activityRequest.request"
               tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></request-modal>


