<div class="modal-dialog" role="document">
  <div class="modal-content">


    <div *ngIf="mode==1">

      <div class="modal-header">
        <h6 class="col-12 modal-title text-center">
          <p>Nouvelle Activité support</p>
          <div *ngIf="lastActivity" class="badge badge-pill badge-light">
            Dernière Activité : {{lastActivity?.typeActivite}} Du
            {{lastActivity?.dteStrt | date: "dd/MM/yy HH:mm"}} à {{lastActivity?.dteEnd | date: "dd/MM/yy HH:mm"}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error==2">
            <strong> Oups ! </strong> {{returnedError}}
          </div>
        </h6>
      </div>

      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveActivityRequest(f.value)">


        <div class="modal-body">

          <div class="form-row">
            <div class="form-group col-sm-6 offset-sm-6">
              <label>Numéro de la demande :</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i
                    class="fa fa-search"></i></div>
                </div>
                <input minlength="10" class="form-control" placeholder="Numéro de la demande"
                       aria-label="Input group example" aria-describedby="btnGroupAddon" maxlength="10" id="rqtExcde"
                       name="rqtExcde" #rqtExcde="ngModel" [(ngModel)]="activityRequest.request.rqtExcde" size="10"
                       type="text" (input)="onSearchRequest($event)" required>
                <div class="input-group-prepend">
                  <button class="btn btn-primary" type="button" [disabled]="!requestOk" (click)="mode=3"><i
                    class="fa fa-eye"></i>
                  </button>
                </div>
              </div>

              <div *ngIf="!requestOk">
                <div *ngIf="rqtExcde.invalid && (rqtExcde.dirty || rqtExcde.touched)"
                     class="error">
                  <div *ngIf="rqtExcde.errors.required">
                    Le numéro de la demande est obligatoire.
                  </div>
                  <div *ngIf="rqtExcde.errors.minlength">
                    Le numéro de la demande doit contenir 10 chiffres.
                  </div>
                </div>
                <div class="error" *ngIf="rqtExcde.valid">
                  Le numéro de la demande est introuvable
                </div>
              </div>


            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Date de début :</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-primary" type="button"><i class="fa fa-calendar"></i></button>
                </div>
                <input class="form-control" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                       placeholder="Date début"
                       [(ngModel)]="activityRequest.dteStrt" name="dteStrt" required (ngModelChange)="onDatesChanged()">
                <owl-date-time #dt></owl-date-time>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label>Date de fin :</label>


              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-primary" type="button"><i class="fa fa-calendar"></i></button>
                </div>
                <input class="form-control" [min]="activityRequest.dteStrt" [owlDateTimeTrigger]="dt1"
                       [owlDateTime]="dt1" placeholder="Date et heure de fin"
                       [(ngModel)]="activityRequest.dteEnd" name="dteEnd" (ngModelChange)="onDatesChanged()" required>
                <owl-date-time #dt1></owl-date-time>
              </div>
              <div *ngIf="dureeConverted" class="duree">
                {{dureeConverted}}
              </div>

            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-sm-6">
              <label class="control-label" for="nature">Nature de l'activité :</label>
              <select class="form-control form-control-sm" id="nature" [(ngModel)]="activityRequest.nature"
                      name="nature" #nature="ngModel" placeholder="Séclectionner la nature de l'activité" required>
                <option>Request</option>
                <option>Réunion</option>
                <option>Nature 3</option>
                <option>Nature 4</option>
              </select>
              <div *ngIf="nature.invalid && (nature.dirty || nature.touched)" class="invalid-feedback">
                <div *ngIf="nature.errors.required">
                  La nature est obligatoire.
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label">Client :</label>
              <ng-select
                class="ngselects"
                [items]="customers"
                bindLabel="name"
                name="customer"
                placeholder="Selectionner un client"
                [(ngModel)]="activityRequest.customer"
                required>
              </ng-select>


            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">

              <label class="control-label" for="lieu">Lieu :</label>
              <select class="form-control" id="lieu" [(ngModel)]="activityRequest.lieu" name="lieu"
                      required>
                <option>Client</option>
                <option>Munisys</option>
                <option>Domicile</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label class="control-label" for="ville">Ville :</label>
              <select class="form-control" id="ville" [(ngModel)]="activityRequest.ville" name="ville"
                      required #ville="ngModel">
                <option>Casablanca</option>
                <option>Fes</option>
                <option>Agadir</option>
              </select>
              <div *ngIf="ville.invalid && (ville.dirty || nature.touched)" class="invalid-feedback">
                <div *ngIf="ville.errors.required">
                  La ville est obligatoire.
                </div>
              </div>
            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-sm-6">
              <label class="control-label" for="comments">Commentaire :</label>
              <textarea minlength="1" id="comments" name="comments" #comments="ngModel"
                        [(ngModel)]="activityRequest.comments" rows="3" class="form-control form-control-sm"
                        placeholder="Action" style="margin-top: 0px; margin-bottom: 0px; height: 56px;"
                        required></textarea>
              <div *ngIf="comments.invalid && (comments.dirty || comments.touched)"
                   class="error">
                <div *ngIf="comments.errors.required">
                  Commentaire est requis.
                </div>
                <div *ngIf="comments.errors.minlength">
                  Un commentaire doit au minimum contenir 5 caracteres
                </div>
              </div>
            </div>

            <div class="form-group row col-sm-6 my-auto">
              <label class="col-sm-3 col-form-label nopadding-right">Statut :</label>
              <div class="col-sm-9 nopadding my-auto">
                <span [class]="activityRequest.statut?'badge badge-pill badge-success':'badge badge-pill badge-info'">{{activityRequest.statut?'Réalisé':'Planifié'}}</span>
              </div>
            </div>

          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" (click)="hideModal(); toModeOne();">Annuler
          </button>
          <button [disabled]="!f.valid || !requestOk" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
            Enregistrer
          </button>
        </div>

      </form>

    </div>

    <div *ngIf="mode==2">


      <div class="modal-header">
        <h4 class="modal-title">Confirmation N° : {{activityRequest?.id}}</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Début :</strong></div>
          <div class="col-sm-3 nopadding">
            <span class="badge badge-pill badge-light">{{activityRequest?.dteStrt | date:"dd/MM/yy HH:mm"}}</span>
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Fin :</strong></div>
          <div class="col-sm-3 nopadding">
            <span class="badge badge-pill badge-light">{{activityRequest?.dteEnd | date:"dd/MM/yy HH:mm"}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Durée :</strong></div>
          <div class="col-sm-3 nopadding">
            <span class="badge badge-pill badge-dark">{{activityService.ShortconvertMinutesToHoursAndMinute(activityRequest.durtion)}}</span>
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Nature :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityRequest?.nature}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Client :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityRequest?.customer.name}}
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Ville :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityRequest?.ville}}
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Lieu :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityRequest?.lieu}}
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Statut :</strong></div>
          <div class="col-sm-3 nopadding">
            <span [class]="activityRequest.statut?'badge badge-pill badge-success':'badge badge-pill badge-info'">{{activityRequest?.statut==true?'Realisé':'Planifié'}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3"><strong>Commentaire:</strong></div>
          <div class="col-sm-7 nopadding">
            {{activityRequest?.comments}}
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="toModeDupliquer()">
          <i class="fa fa-copy"></i> Dupliquer
        </button>
        <button type="button" class="btn btn-sm btn-primary" (click)="hideModal(); toModeOne();">
          <i class="fa fa-check"></i> OK
        </button>
      </div>


    </div>

    <div *ngIf="mode==3">
      <div class="modal-header">
        <h4 class="modal-title">Detail de la demande N° : {{activityRequest?.request?.rqtExcde}}</h4>
      </div>

      <div class="modal-body">

        <div class="form-row">

          <div class="form-group col-sm-6">
            <label>Date de la demande :</label>
            <div>
              <span
                class="badge badge-pill badge-light">{{activityRequest?.request?.rqtDte | date: 'dd/MM/yyyy HH:mm'}}</span>
            </div>
          </div>

          <div class="form-group col-sm-6">
            <label for="clientDemande">Client :</label>
            <input id="clientDemande" class="form-control-plaintext" [value]="activityRequest.request.cpyInCde.name"
                   readonly>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="descriptionDemande">Description :</label>
            <input id="descriptionDemande" class="form-control-plaintext" [value]="activityRequest.request.objDsc"
                   readonly>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="mode=1">
          <i class="fa fa-angle-left"></i> Retour
        </button>
      </div>
    </div>

  </div>
</div>
