<div class="modal-dialog show-details" role="document">
  <div class="modal-content">


    <div class="modal-header">
      <h4 class="modal-title">Activité Support :</h4>
    </div>

    <div class="modal-body">

      <div class="form-group row">
        <div class="col-sm-2 nopadding-right"><strong>Début :</strong></div>
        <div class="col-sm-3 nopadding">
          <span class="badge badge-pill badge-light">{{activityRequest?.dteStrt | date:"dd/MM/yy HH:mm"}}</span>
        </div>
        <div class="col-sm-2 nopadding-right"><strong>Fin :</strong></div>
        <div class="col-sm-3 nopadding">
          <span class="badge badge-pill badge-light">{{activityRequest?.dteEnd | date:"dd/MM/yy HH:mm"}}</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 nopadding-right"><strong>Durée :</strong></div>
        <div class="col-sm-3 nopadding">
          <span class="badge badge-pill badge-dark">{{ShortconvertMinutesToHoursAndMinute(activityRequest.durtion)}}</span>
        </div>

        <div class="col-sm-2 nopadding-right"><strong>Nature :</strong></div>
        <div class="col-sm-3 nopadding">
          {{activityRequest?.nature}}
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 nopadding-right"><strong>Client :</strong></div>
        <div class="col-sm-3 nopadding">
          {{activityRequest?.customer.name}}
        </div>

        <div class="col-sm-2 nopadding-right"><strong>Ville :</strong></div>
        <div class="col-sm-3 nopadding">
          {{activityRequest?.ville}}
        </div>

      </div>

      <div class="form-group row">
        <div class="col-sm-2 nopadding-right"><strong>Lieu :</strong></div>
        <div class="col-sm-3 nopadding">
          {{activityRequest?.lieu}}
        </div>

        <div class="col-sm-2 nopadding-right"><strong>Statut :</strong></div>
        <div class="col-sm-3 nopadding">
          <span [class]="activityRequest.statut?'badge badge-pill badge-success':'badge badge-pill badge-info'">{{activityRequest?.statut==true?'Realisé':'Planifié'}}</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3"><strong>Commentaire:</strong></div>
        <div class="col-sm-7 nopadding">
          {{activityRequest?.comments}}
        </div>
      </div>

    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary" (click)="hideModal()"><i class="fa fa-check"></i> OK</button>
    </div>


  </div>
</div>


