<div class="modal-dialog" role="document">
  <div class="modal-content">


    <div *ngIf="mode==1">


      <div class="modal-header">
        <h4 class="modal-title">Détails de la certification</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          <div class="col-sm-3 nopadding-right"><strong>Date de début :</strong></div>
          <div class="col-sm-2 nopadding">
            <span class="badge badge-pill badge-light">{{formation?.dateStrt | date:"dd/MM/yy"}}</span>
          </div>
          <div class="col-sm-3 nopadding-right"><strong>Date de fin :</strong></div>
          <div class="col-sm-2 nopadding">
            <span class="badge badge-pill badge-light">{{formation?.dateEnd | date:"dd/MM/yy"}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Intitulé :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{formation?.frmName}}</span>
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Technologie:</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{formation?.technologie?.nomTechnologie}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Editeur :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{formation?.editeur?.nomEditeur}}</span>
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Participants :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{getDetailsFormation().nbreThisService}} participants ({{getDetailsFormation().serviceName}})</span>
          </div>
        </div>

        <div class="form-row" *ngIf="formation?.candidats.length>0">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Photo</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of formation.candidats">
              <ng-container *ngIf="p.employe.service.id==idService">
                <td><img [src]="'assets/img/avatars/'+p.employe.username+'.jpg'"
                         onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar"
                         [alt]="p.employe.username"
                         width="25px" height="25px"/></td>
                <td>{{p?.employe?.lastName}}</td>
                <td>{{p?.employe?.firstName}}</td>
                <td>
                  <select [(ngModel)]="p.visa" [name]="p.id">
                    <option value="En cours">Non renseigner</option>
                    <option value="Accepted">Acceptée</option>
                    <option value="Refused">Refusée</option>
                  </select>
                </td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" (click)="modal.hide()">Annuler</button>
        <button type="button" class="btn btn-sm btn-primary"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                confirmText="Oui"
                cancelText="Non"
                (confirm)="manageFormation()"
                placement="top">
          <i class="fa fa-check"></i> Confirmer
        </button>
      </div>

    </div>

    <div *ngIf="mode==2">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation de la formation</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          <div class="col-sm-3 nopadding-right"><strong>Date de début :</strong></div>
          <div class="col-sm-2 nopadding">
            <span class="badge badge-pill badge-light">{{formation?.dateStrt | date:"dd/MM/yy"}}</span>
          </div>
          <div class="col-sm-3 nopadding-right"><strong>Date de fin :</strong></div>
          <div class="col-sm-2 nopadding">
            <span class="badge badge-pill badge-light">{{formation?.dateEnd | date:"dd/MM/yy"}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Intitulé :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{formation?.frmName}}</span>
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Technologie:</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{formation?.technologie?.nomTechnologie}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Editeur :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{formation?.editeur?.nomEditeur}}</span>
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Participants :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{getDetailsFormation().nbreThisService}} participants ({{getDetailsFormation().serviceName}})</span>
          </div>
        </div>

        <div class="form-row" *ngIf="formation?.candidats.length>0">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Photo</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of formation.candidats">
              <ng-container *ngIf="p.employe.service.id==idService">
                <td><img [src]="'assets/img/avatars/'+p.employe.username+'.jpg'"
                         onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar"
                         [alt]="p.employe.username"
                         width="25px" height="25px"/></td>
                <td>{{p?.employe?.lastName}}</td>
                <td>{{p?.employe?.firstName}}</td>
                <td>
                  <span class="badge badge-pill badge-success" *ngIf="p.visa=='Accepted'">Accepté</span>
                  <span class="badge badge-pill badge-danger" *ngIf="p.visa=='Refused'">Refusée</span>
                  <span class="badge badge-pill badge-light" *ngIf="p.visa=='En cours'">En cours</span>
                </td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="modal.hide(); mode=1;"><i class="fa fa-check"></i>
          Ok
        </button>
      </div>
    </div>

  </div>
</div>



