<div class="modal-dialog" role="document">
  <div class="modal-content">


    <div *ngIf="mode==1">

      <div class="modal-header">
        <h6 class="col-12 modal-title text-center">
          <p>Modifier Activité projet</p>
          <div class="alert alert-danger" role="alert" *ngIf="error==1">
            Oups ! {{returnedError}}
          </div>
        </h6>
      </div>

      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onEditActivityProject(f.value)">



        <div class="modal-body">

          <div class="form-row">

            <div class="form-group col-sm-6">
              <label for="customers">Client :</label>
              <ng-select id="customers" [items]="customers"
                         bindLabel="name"
                         name="customer"
                         placeholder="Selectionner un client"
                         notFoundText="Aucun client trouvé"
                         [typeahead]="customerTypeahead"
                         typeToSearchText="Saisir client"
                         (change)="teste()"
                         [(ngModel)]="activityProject.customer"
                         [required]="activityProject.nature!='Réunion'"></ng-select>
            </div>


            <div class="form-group col-sm-6">
              <label for="project">Projet :</label>
              <ng-select id="project" [items]="projects"
                         bindLabel="prjName"
                         name="project"
                         placeholder="Selectionner un projet"
                         [(ngModel)]="activityProject.project"
                         [required]="activityProject.nature!='Réunion'">
                <ng-template ng-label-tmp let-item="item">
                  {{item.prjId}}  {{item.prjName}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  {{item.prjId}}  {{item.prjName}}
                </ng-template>
              </ng-select>
            </div>



          </div>

          <div class="form-row">

            <div *ngIf="serviceName=='Value Software' || serviceName=='Value Système' || serviceName=='Value Réseaux et Sécurité'" class="form-group col-sm-6">
              <label for="produit">Produits :</label>
              <ng-select [items]="produits"
                         id="produit"
                         name="produit"
                         placeholder="Produit"
                         bindLabel="produit"
                         [multiple]="true"
                         groupBy="groupe"
                         [(ngModel)]="activityProject.produits"
                         [addTag]="true"
                         required>

              </ng-select>
            </div>

            <div class="form-group col-sm-6">
              <label for="nature">Action :</label>
              <ng-select id="nature" name="nature"
                         [items]="nature"
                         placeholder="Nature"
                         bindLabel="name"
                         bindValue="name"
                         [(ngModel)]="activityProject.nature"
                         required>

              </ng-select>
            </div>


          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Date  :</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <input class="form-control form-control-sm"
                       [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                       placeholder="Date "
                       [(ngModel)]="activityProject.dteStrt" name="dteStrt" [max]="maxDate" required (change)="onDatesChanged()">
                <owl-date-time  [pickerType]="'calendar'" #dt></owl-date-time>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label for="duree">Durée :</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
                <input id="duree" name="duree" class="form-control form-control-sm" type="time" [(ngModel)]="activityProject.duration" (change)="reject()" erequired/>
              </div>
            </div>
          </div>

          <div class="form-row">



            <div class="form-group col-sm-6">
              <label for="role">Rôle :</label>
              <ng-select [items]="role"
                         id="role"
                         name="role"
                         placeholder="Rôle"
                         bindLabel="name"
                         bindValue="val"
                         [searchable]="false"
                         [(ngModel)]="activityProject.principal"
                         required>

              </ng-select>


            </div>

            <div class="form-group col-sm-6">
              <label for="lieu">Lieu :</label>
              <ng-select id="lieu"
                         name="lieu"
                         [items]="lieu"
                         bindLabel="name"
                         bindValue="name"
                         placeholder="Lieu"
                         [(ngModel)]="activityProject.lieu"
                         required>
              </ng-select>
            </div>





          </div>



          <div class="form-row">



            <div class="form-group col-sm-6">
              <label for="ville">Ville :</label>
              <ng-select id="ville"
                         name="ville"
                         placeholder="Ville"
                         [items]="ville"
                         bindLabel="name"
                         bindValue="name"
                         [(ngModel)]="activityProject.ville"
                         notFoundText="Aucune ville trouvée"
                         required>

              </ng-select>
            </div>

          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" (click)="hideModal()"><i class="fa fa-ban"></i> Annuler
          </button>
          <button [disabled]="!f.valid" type="submit" class="btn btn-sm btn-primary"><i
            class="fa fa-dot-circle-o"></i>
            Enregistrer
          </button>
        </div>
      </form>

    </div>

    <div *ngIf="mode==2">

      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">


          <div class="col-sm-2 nopadding-right"><strong>Client :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.customer?.name}}
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Projet :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.project?.prjName}}
          </div>


        </div>

        <div class="form-group row">

          <div *ngIf="activityProject.produits.length>0 && activityProject?.produits.length>0" class="col-sm-2 nopadding-right"><strong>Produits :</strong></div>
          <div *ngIf="activityProject.produits.length>0 && activityProject?.produits.length>0" class="col-sm-3 nopadding">
            <span *ngFor="let p of activityProject.produits; let i=index;">
              <span *ngIf="i<activityProject.produits.length-1">{{p.produit+" | "}}</span>
              <span *ngIf="i==activityProject.produits.length-1">{{p.produit}}</span>
            </span>
          </div>



        </div>


        <div class="form-group row">

          <div class="col-sm-2 nopadding-right"><strong>Action :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.nature}}
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Date :</strong></div>
          <div class="col-sm-3 nopadding">
            <span class="badge badge-pill badge-light">{{activityProject?.dteStrt | date:"dd/MM/yyyy"}}</span>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Durée :</strong></div>
          <div class="col-sm-3 nopadding">
          <span
            class="badge badge-pill badge-dark">{{activityService.ShortconvertMinutesToHoursAndMinute(activityProject.durtion)}}</span>
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Rôle :</strong></div>
          <div class="col-sm-3 nopadding">
            <div *ngIf="activityProject?.principal">
              Principale
            </div>
            <div *ngIf="!activityProject?.principal">
              Secondaire
            </div>
          </div>


        </div>




        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Ville :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.ville}}
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Lieu :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.lieu}}
          </div>


        </div>



        <div *ngIf="activityProject?.comments!='' && activityProject?.comments!=null" class="form-group row">
          <div class="col-sm-3"><strong>Commentaire:</strong></div>
          <div class="col-sm-7 nopadding">
            {{activityProject?.comments}}
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="hideModal(); mode=1;">
          <i class="fa fa-check"></i> OK
        </button>
      </div>


    </div>


  </div>
</div>


