<div class="modal-dialog" role="document" xmlns="http://www.w3.org/1999/html">
  <div class="modal-content">


    <div *ngIf="mode==1">

      <div class="modal-header">
        <h6 class="col-12 modal-title text-center">
          <p>Nouvelle Activité projet</p>
          <div *ngIf="lastActivity" class="badge badge-pill badge-light">
            Dernière Activité : {{lastActivity?.typeActivite+", "+lastActivity?.nature}} Date
            {{lastActivity?.dteStrt | date: "dd/MM/yyyy"}} },
            {{lastActivity?.customer?.name}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error==1">
            Oups ! {{returnedError}}
          </div>
        </h6>
      </div>


      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveActivityProject(f.value)">


        <div class="modal-body">

          <div class="form-row">

            <div class="form-group col-sm-6">
              <label for="customers">Client :</label>
              <ng-select id="customers" [items]="customers"
                         bindLabel="name"
                         name="customer"
                         placeholder="Selectionner un client"
                         notFoundText="Aucun client trouvé"
                         [typeahead]="customerTypeahead"
                         typeToSearchText="Saisir client"
                         (change)="teste()"
                         [(ngModel)]="activityProject.customer"
                         [required]="activityProject.nature!='Réunion'"></ng-select>
            </div>

            <div class="form-group col-sm-6">
              <label for="project">Projet :</label>
              <ng-select id="project" [items]="projects"
                         bindLabel="prjName"
                         name="project"
                         [disabled]="!activityProject.customer"
                         placeholder="Selectionner un projet"
                         [addTag]="addTag"
                         addTagText="Autre projet"
                         [(ngModel)]="activityProject.project"
                         [required]="activityProject.nature!='Réunion'">
                <ng-template ng-label-tmp let-item="item">
                  {{item.prjId}}  {{item.prjName}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  {{item.prjId}}  {{item.prjName}}
                </ng-template>
              </ng-select>
            </div>

          </div>

          <div class="form-row">

            <div *ngIf="serviceName=='Value Software' || serviceName=='Value Système' || serviceName=='Value Réseaux et Sécurité'" class="form-group col-sm-6">
              <label for="produit">Produit :</label>
              <ng-select [items]="produits"
                         id="produit"
                         name="produit"
                         placeholder="Produit"
                         bindLabel="produit"
                         [multiple]="true"
                         groupBy="groupe"
                         [(ngModel)]="activityProject.produits"
                         [addTag]="true"
                         required>

              </ng-select>
            </div>

            <div class="form-group col-sm-6">
              <label for="nature">Action :</label>
              <ng-select id="nature" name="nature"
                         [items]="nature"
                         placeholder="Action"
                         bindLabel="name"
                         bindValue="name"
                         [(ngModel)]="activityProject.nature"
                         required>

              </ng-select>
            </div>


          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Date  :</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <input class="form-control form-control-sm" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [max]="maxDate"
                       placeholder="Date"
                       [(ngModel)]="activityProject.dteStrt" name="dteStrt" required >
                <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label for="duree">Durée :</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
                <input id="duree" name="duree" class="form-control form-control-sm" type="time" [(ngModel)]="activityProject.duration"  (change)="reject()"  required/>

              </div>

            </div>

          </div>

          <div class="form-row">



            <div class="form-group col-sm-6">
              <label for="role">Rôle :</label>
              <ng-select [items]="role"
                         id="role"
                         name="role"
                         placeholder="Rôle"
                         bindLabel="name"
                         bindValue="val"
                         [searchable]="false"
                         [(ngModel)]="activityProject.principal"
                         required>

              </ng-select>


            </div>

            <div class="form-group col-sm-6">
              <label for="lieu">Lieu :</label>
              <ng-select id="lieu"
                         name="lieu"
                         [items]="lieu"
                         bindLabel="name"
                         bindValue="name"
                         placeholder="Lieu"
                         [(ngModel)]="activityProject.lieu"
                         required>
              </ng-select>
            </div>

          </div>



          <div class="form-row">



            <div class="form-group col-sm-6">
              <label for="ville">Ville :</label>
              <ng-select id="ville"
                         name="ville"
                         placeholder="Ville"
                         [items]="ville"
                         bindLabel="name"
                         bindValue="name"
                         [addTag]="true"
                         addTagText="Autre ville"
                         [(ngModel)]="activityProject.ville"
                         notFoundText="Aucune ville trouvée"
                         required>

              </ng-select>
            </div>

            <div  class="form-group col-sm-6">
              <label for="comments">Commentaire :</label>
              <textarea minlength="1" id="comments" name="comments" #comments="ngModel"
                        [(ngModel)]="activityProject.comments" rows="9" class="form-control" placeholder="Content.."
                        style="margin-top: 0px; margin-bottom: 0px; height: 56px;" required></textarea>

            </div>

          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" (click)="hideModal(); toModeOne();">Annuler
          </button>
          <button [disabled]="!f.valid" type="submit" class="btn btn-sm btn-primary"><i
            class="fa fa-dot-circle-o"></i>
            Enregistrer
          </button>
          <button [disabled]="!f.valid" (click)="enregisterContinuer()" class="btn btn-sm btn-warning"><i
            class="fa fa-dot-circle-o"></i>
            Enregistrer et Continuer
          </button>
        </div>
      </form>

    </div>

    <div *ngIf="mode==2">

      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">


          <div class="col-sm-2 nopadding-right"><strong>Client :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.customer?.name}}
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Projet :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.project?.prjName}}
          </div>


        </div>

        <div class="form-group row">
          <div *ngIf="serviceName=='Value Software' || serviceName=='Value Système' || serviceName=='Value Réseaux et Sécurité'" class="col-sm-2 nopadding-right"><strong>Produits :</strong></div>
          <div *ngIf="serviceName=='Value Système' || serviceName=='Value Réseaux et Sécurité'" class="col-sm-3 nopadding">
            <span *ngFor="let p of activityProject.produits; let i=index;">
              <span *ngIf="i<activityProject.produits.length">{{p.produit+" | "}}</span>
              <span *ngIf="i==activityProject.produits.length">{{p.produit}}</span>
            </span>
          </div>
        </div>

        <div class="form-group row">


          <div class="col-sm-2 nopadding-right"><strong>Action :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.nature}}
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Date :</strong></div>
          <div class="col-sm-3 nopadding">
            <span class="badge badge-pill badge-light">{{activityProject?.dteStrt | date:"dd/MM/yyyy"}}</span>
          </div>




        </div>

        <div class="form-group row">

          <div class="col-sm-2 nopadding-right"><strong>Durée :</strong></div>
          <div class="col-sm-3 nopadding">
          <span
            class="badge badge-pill badge-dark">{{activityService.ShortconvertMinutesToHoursAndMinute(activityProject.durtion)}}</span>
          </div>

          <div class="col-sm-2 nopadding-right"><strong>Rôle :</strong></div>
          <div class="col-sm-3 nopadding">
            <div *ngIf="activityProject?.principal">
             Principale
            </div>
            <div *ngIf="!activityProject?.principal">
              Secondaire
            </div>

          </div>

        </div>



        <div class="form-group row">

          <div class="col-sm-2 nopadding-right"><strong>Lieu :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.lieu}}
          </div>


          <div class="col-sm-2 nopadding-right"><strong>Ville :</strong></div>
          <div class="col-sm-3 nopadding">
            {{activityProject?.ville}}
          </div>
        </div>



        <div *ngIf="activityProject?.comments!='' && activityProject?.comments!=null" class="form-group row">
          <div class="col-sm-3"><strong>Commentaire:</strong></div>
          <div class="col-sm-7 nopadding">
            {{activityProject?.comments}}
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-sm btn-primary" (click)="toModeDupliquer()">
          <i class="fa fa-copy"></i> Dupliquer
        </button>
        <button type="button" class="btn btn-sm btn-primary" (click)="hideModal(); toModeOne();">
          <i class="fa fa-check"></i> OK
        </button>
      </div>


    </div>


  </div>

</div>
<!--
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="card-title text-center">Selectionnez le type d'activité :</h5>

        <div class="list-group">
          <button type="button" *ngFor="let activityAuthorized of activitiesAuthorized"
                  (click)="myModal.hide(); onSelectModal(activityAuthorized);"
                  class="list-group-item list-group-item-action">
            <i [class]="detectIcon(activityAuthorized)"></i> {{activityAuthorized}}
          </button>
        </div>


      </div>
    </div>
  </div>
</div>

<new-activtyProject bsModal #newactivityProjectModal="bs-modal" [modal]="newactivityProjectModal"
                    [activityProject]="activityProjectToAdd"
                    [lastActivity]="lastActivity"
                    (refresh)="ngOnInit()"
                    class="modal fade"
                    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></new-activtyProject>

<new-activtyAvantVente bsModal #newactivityAvantVenteModal="bs-modal" [modal]="newactivityAvantVenteModal"
                       [activityAvantVente]="activityAvantVenteToAdd"
                       [lastActivity]="lastActivity"
                       (refresh)="ngOnInit()"
                       class="modal fade"
                       tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                       aria-hidden="true"></new-activtyAvantVente>


<new-activtyCommercial bsModal #newactivityCommercialModal="bs-modal" [modal]="newactivityCommercialModal"
                       [activityCommercial]="activityCommercialToAdd"
                       [lastActivity]="lastActivity"
                       (refresh)="ngOnInit()"
                       class="modal fade"
                       tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                       aria-hidden="true"></new-activtyCommercial>

<new-activityHoliday bsModal #newactivityHolidayModal="bs-modal" [modal]="newactivityHolidayModal"
                     [activityHoliday]="activityHolidayToAdd"
                     [lastActivity]="lastActivity"
                     (refresh)="ngOnInit()"
                     class="modal fade"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true"></new-activityHoliday>

<new-activityRecouvrement bsModal #newactivityRecouvrementModal="bs-modal" [modal]="newactivityRecouvrementModal"
                          [activityRecouvrement]="activityRecouvrementToAdd"
                          [lastActivity]="lastActivity"
                          (refresh)="ngOnInit()"
                          class="modal fade"
                          tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                          aria-hidden="true"></new-activityRecouvrement>

<new-activityRequest bsModal #newactivityRequestModal="bs-modal" [modal]="newactivityRequestModal"
                     [activityRequest]="activityRequestToAdd"
                     [lastActivity]="lastActivity"
                     (refresh)="ngOnInit()"
                     class="modal fade"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true"></new-activityRequest>

<new-activity-si bsModal #newactivitySIModal="bs-modal" [modal]="newactivitySIModal"
                 [activitySI]="activitySIToAdd"
                 [lastActivity]="lastActivity"
                 (refresh)="ngOnInit()"
                 class="modal fade"
                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true"></new-activity-si>

<new-activityPM bsModal #newactivityPMModal="bs-modal" [modal]="newactivityPMModal"
                [activityPM]="activityPMToAdd"
                [lastActivity]="lastActivity"
                (refresh)="ngOnInit()"
                class="modal fade"
                tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true"></new-activityPM>

<new-activityDevCompetence bsModal #newactivityDevCompetenceModal="bs-modal" [modal]="newactivityDevCompetenceModal"
                           [activityDevCompetence]="activityDevCompetenceToAdd"
                           [lastActivity]="lastActivity"
                           (refresh)="ngOnInit()"
                           class="modal fade"
                           tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                           aria-hidden="true"></new-activityDevCompetence>-->


