// Here you can add other styles

.cdk-overlay-container {
  position: fixed;
  z-index: 1090;
}

.my-pagination .ngx-pagination .current {
  background: blue;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.white {
  background-color: white;
}

.alert-md-color {
  background-color: rgba(234, 35, 2, 0.72);
  border-color: rgba(234, 35, 2, 0.72);
  color: #fff;
}

.error {
  color: red;
}

.ng-select .ng-control {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  min-height: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ng-select.ng-single .ng-control {
  height: 30px;
}

tr:hover {
  background-color: #f2f2f2;
}

