<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div *ngIf="mode==1">


      <div class="modal-header">
        <h4 class="modal-title">Certification</h4>
      </div>


      <form #f="ngForm" (ngSubmit)="onSaveCertification()">
        <div class="modal-body">

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="certificationName">Intitulé de la certification :</label>
              <input class="form-control form-control-sm" #certificationName="ngModel" id="certificationName"
                     name="certificationName"
                     type="text"
                     minlength="5"
                     placeholder="Intitulé de la certification" [(ngModel)]="certification.certName" required>
              <div class="error"
                   *ngIf="certificationName.invalid && (certificationName.dirty || certificationName.touched)">
                <div *ngIf="certificationName.errors.required">
                  L'intitulé de la certification est obligatoire
                </div>
                <div *ngIf="certificationName.errors.minlength">
                  L'intitulé doit contenir au moins 5 caractéres
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label for="dateStart">Date d'échéance :</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <input class="form-control form-control-sm" id="dateStart" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                       placeholder="Date de début"
                       name="dteStrt" [(ngModel)]="certification.dateEch" required>
                <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
              </div>
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="technologie">Technologie :</label>
              <ng-select id="technologie" name="technologie"
                         [items]="technologies"
                         bindLabel="nomTechnologie"
                         placeholder="Selectionnez Technologie"
                         notFoundText="Aucune technologie trouvée"
                         [typeahead]="technologiesTypeahead"
                         typeToSearchText="Saisir Technologie"
                         (change)="chargerEditeurs()"
                         [(ngModel)]="certification.technologie"
                         required>

              </ng-select>
            </div>
            <div class="form-group col-sm-6">
              <label for="editeur">Editeur :</label>
              <ng-select id="editeur" name="editeur"
                         [items]="editeurs"
                         [searchable]="false"
                         bindLabel="nomEditeur"
                         placeholder="Selectionnez editeur"
                         notFoundText="Aucun editeur trouvé"
                         [disabled]="certification.technologie==null"
                         [(ngModel)]="certification.editeur"
                         required>

              </ng-select>
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-sm-6">
              <label for="participants">Participants :</label>
              <ng-select id="participants" name="participants"
                         [items]="users"
                         multiple="true"
                         bindLabel="username"
                         [hideSelected]="true"
                         [(ngModel)]="selectedUsers"
                         placeholder="Selectionnez les participants"
                         notFoundText="Aucun salarié trouvé"
                         [typeahead]="usersTypeahead"
                         typeToSearchText="Saisir le nom des participants"
                         required>
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngIf="items.length > 0">
                    <span class="ng-value-label"> {{items.length}} participants selectionnés</span>
                  </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  <img [src]="'assets/img/avatars/'+item.username+'.jpg'"
                       onerror="this.src='assets/img/avatars/default.jpg'" width="20px" height="20px">
                  {{item.firstName+' '+item.lastName}}
                </ng-template>
              </ng-select>
            </div>

          </div>

          <div class="form-row" *ngIf="selectedUsers.length>0">
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Service</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let p of selectedUsers; let  i=index;">
                <td>{{i+1}}</td>
                <td><img [src]="'assets/img/avatars/'+p.username+'.jpg'"
                         onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar" [alt]="p.username"
                         width="25px" height="25px"/></td>
                <td>{{p?.lastName}}</td>
                <td>{{p?.firstName}}</td>
                <td>{{p?.service?.servName}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-danger"
                          mwlConfirmationPopover
                          [popoverTitle]="popoverTitle"
                          [popoverMessage]="popoverMessage"
                          confirmText="Oui"
                          cancelText="Non"
                          placement="left"
                          (confirm)="remove(p)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" (click)="modal.hide()"><i class="fa fa-ban"></i>
            Annuler
          </button>
          <button type="submit" [disabled]="!f.valid" class="btn btn-sm btn-primary"><i
            class="fa fa-dot-circle-o"></i>
            Enregistrer
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="mode==2">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          <div class="col-sm-3 nopadding-right"><strong>Date d'échéance :</strong></div>
          <div class="col-sm-2 nopadding">
            <span class="badge badge-pill badge-light">{{certification?.dateEch | date:"dd/MM/yy"}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Intitulé :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{certification?.certName}}</span>
          </div>

          <div class="col-sm-2"><strong>Technologie:</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{certification?.technologie?.nomTechnologie}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 nopadding-right"><strong>Editeur :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{certification?.editeur?.nomEditeur}}</span>
          </div>
          <div class="col-sm-2 nopadding-right"><strong>Participants :</strong></div>
          <div class="col-sm-3 nopadding">
            <span>{{certification?.candidats?.length}} candidats</span>
          </div>
        </div>

        <div class="form-row" *ngIf="certification.candidats.length>0">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>Photo</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Service</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of certification.candidats; let  i=index;">
              <td>{{i+1}}</td>
              <td><img [src]="'assets/img/avatars/'+c.employe.username+'.jpg'"
                       onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar" [alt]="c.employe.username"
                       width="25px" height="25px"/></td>
              <td>{{c?.employe?.lastName}}</td>
              <td>{{c?.employe?.firstName}}</td>
              <td>{{c?.employe?.service.servName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="toModeOne()"><i class="fa fa-check"></i>
          OK
        </button>
      </div>
    </div>

  </div>
</div>



