<aside class="aside-menu">
  <tabset>
    <tab>
      <ng-template tabHeading><i class="icon-list"></i></ng-template>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Aujourd'hui</b></small>
      </div>
      <hr class="transparent mx-3 my-0">
      <div *ngFor="let activity of activityToday">
        <div class="callout callout-warning m-0 py-3">
          <div>{{activity?.typeActivite}} <strong>{{activity?.customer?.name}}</strong></div>
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp;{{activity?.hrStrt}} - {{activity?.hrEnd}}
          </small>
          <small class="text-muted"><i class="icon-location-pin"></i>&nbsp;{{activity?.ville}}</small>
        </div>
        <hr class="mx-3 my-0">
      </div>
      <hr class="transparent mx-3 my-0">
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Demain</b></small>
      </div>
      <hr class="transparent mx-3 my-0">
      <div *ngFor="let activity of activityTomorrow">
        <div class="callout callout-danger m-0 py-3">
          <div>{{activity?.typeActivite}} <strong>{{activity?.customer?.name}}</strong></div>
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp;{{activity?.hrStrt}} - {{activity?.hrEnd}}
          </small>
          <small class="text-muted"><i class="icon-location-pin"></i>&nbsp;{{activity?.ville}}</small>
        </div>
        <hr class="mx-3 my-0">
      </div>

    </tab>

    <tab>
      <ng-template tabHeading><i class="fa fa-graduation-cap"></i></ng-template>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Ce mois</b></small>
      </div>
      <hr class="transparent mx-3 my-0">
      <ng-container *ngFor="let f of formationThisMonth;">
        <div class="callout callout-warning m-0 py-3">
          <div class="avatar float-right">
            <img src="assets/img/avatars/formation.jpg" class="img-avatar" alt="formation">
          </div>
          <div>   <strong>{{f?.frmName}}</strong></div>
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; {{f?.dateStrt}} - {{f?.dateEnd}}</small>
          <div class="text-muted"><i class="fa fa-graduation-cap"></i>&nbsp; {{f?.technologie?.nomTechnologie}}</div>
          <div class="avatars-stack mt-2">
            <div *ngFor="let c of f.candidats;" class="avatar avatar-xs">
              <img [src]="'assets/img/avatars/'+c.employe.username+'.jpg'" onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar" [alt]="c.employe.username">
            </div>
          </div>
        </div>
        <hr class="mx-3 my-0">
      </ng-container>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Mois prochain</b></small>
      </div>
      <hr class="transparent mx-3 my-0">
      <ng-container *ngFor="let f of formationNextMonth;">
        <div class="callout callout-warning m-0 py-3">
          <div class="avatar float-right">
            <img src="assets/img/avatars/formation.jpg" class="img-avatar" alt="formation">
          </div>
          <div><strong>{{f?.frmName}}</strong></div>
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; {{f?.dateStrt}} - {{f?.dateEnd}}</small>
          <div class="text-muted"><i class="fa fa-graduation-cap"></i>&nbsp; {{f?.technologie?.nomTechnologie}}</div>
          <div class="avatars-stack mt-2">
            <div *ngFor="let c of f.candidats;" class="avatar avatar-xs">
              <img [src]="'assets/img/avatars/'+c.employe.username+'.jpg'" onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar" [alt]="c.employe.username">
            </div>
          </div>
        </div>
        <hr class="mx-3 my-0">
      </ng-container>
    </tab>

    <tab>
      <ng-template tabHeading><i class="fa fa-certificate"></i></ng-template>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Ce mois</b></small>
      </div>
      <hr class="transparent mx-3 my-0">
      <ng-container *ngFor="let f of certificationThisMonth;">
        <div class="callout callout-warning m-0 py-3">
          <div class="avatar float-right">
            <img src="assets/img/avatars/certification.jpg" class="img-avatar" alt="formation">
          </div>
          <div>   <strong>{{f?.certName}}</strong></div>
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; {{f?.dateEch}}</small>
          <div class="text-muted"><i class="fa fa-graduation-cap"></i>&nbsp; {{f?.technologie?.nomTechnologie}}</div>
          <div class="avatars-stack mt-2">
            <div *ngFor="let c of f.candidats;" class="avatar avatar-xs">
              <img [src]="'assets/img/avatars/'+c.employe.username+'.jpg'" onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar" [alt]="c.employe.username">
            </div>
          </div>
        </div>
        <hr class="mx-3 my-0">
      </ng-container>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Mois prochain</b></small>
      </div>
      <hr class="transparent mx-3 my-0">
      <ng-container *ngFor="let f of certificationNextMonth;">
        <div class="callout callout-warning m-0 py-3">
          <div class="avatar float-right">
            <img src="assets/img/avatars/certification.jpg" class="img-avatar" alt="formation">
          </div>
          <div><strong>{{f?.certName}}</strong></div>
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; {{f?.dateEch}} </small>
          <div class="text-muted"><i class="fa fa-graduation-cap"></i>&nbsp; {{f?.technologie?.nomTechnologie}}</div>
          <div class="avatars-stack mt-2">
            <div *ngFor="let c of f.candidats;" class="avatar avatar-xs">
              <img [src]="'assets/img/avatars/'+c.employe.username+'.jpg'" onerror="this.src='assets/img/avatars/default.jpg'" class="img-avatar" [alt]="c.employe.username">
            </div>
          </div>
        </div>
        <hr class="mx-3 my-0">
      </ng-container>
    </tab>
  </tabset>

</aside>
