<div class="animated fadeIn">
  <!--/.row-->
  <div class="row" *ngIf="mode==1">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Modifier formation
          <div class="card-actions">

            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div
          class="card-body">
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onEditFormation(f.value)">
            <div class="form-group">
              <label class="control-label" for="formationName">Formation Name:</label>
              <input minlength="4" id="formationName" name="frmName" #formationName="ngModel"
                     [(ngModel)]="formation.frmName" class="form-control" size="16" type="text" required>
              <div *ngIf="formationName.invalid && (formationName.dirty || formationName.touched)"
                   class="alert alert-danger">
                <div *ngIf="formationName.errors.required">
                  FormationName is required.
                </div>
                <div *ngIf="formationName.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="dateDebut">Date début:</label>
              <input id="dateDebut" class="form-control" name="dateStrt" [(ngModel)]="formation.dateStrt" size="16"
                     type="date" required>
            </div>

            <div class="form-group">
              <label class="control-label" for="dateFin">Date de fin:</label>
              <input id="dateFin" class="form-control" name="dateEnd" [(ngModel)]="formation.dateEnd" size="16"
                     type="date" required>
            </div>

            <div class="form-group">
              <label class="control-label">Participants :</label>
              <ng-select [items]="users"
                         name="participants"
                         bindLabel="username"
                         multiple="true"
                         [(ngModel)]="selectedUsers"
                         loadingText="Chargement ..."
                         placeholder="Selectionner participants"
                         required>


                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <img height="25" width="25" class="img-avatar" [src]="link+'stage01.jpg'"/>
                  <b>{{item.username}}</b>
                </ng-template>

              </ng-select>

              <p>
                Nombre participants selectionnés : {{selectedUsers.length}}
              </p>

            </div>

            <div class="form-actions">
              <button [disabled]="!f.valid" type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i>
                Submit
              </button>
              <button type="reset" class="btn  btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->

  <div class="row" *ngIf="mode==2">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Confirmation de la modification
          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <button type="button" class="btn btn-minimize"
                    (click)="toggleCollapse()"><i class={{iconCollapse}}></i>
            </button>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div
          class="card-body">

          <div class="form-group">
            <label class="control-label" for="formationName">Id Formation:</label>
            <label>{{formation.id}}</label>
          </div>

          <div class="form-group">
            <label class="control-label" for="formationName">Formation Name:</label>
            <label>{{formation.frmName}}</label>
          </div>

          <div class="form-group">
            <label class="control-label" for="dateDebut">Date début:</label>
            <label>{{formation.dateStrt | date }}</label>
          </div>

          <div class="form-group">
            <label class="control-label" for="dateFin">Date de fin:</label>
            <label>{{formation.dateEnd | date }}</label>
          </div>

          <div class="form-group">
            <label class="control-label">Les participants : </label>
            <table class="table table-striped table-sm">
              <thead>
              <tr>
                <th>Numéro</th>
                <th>Username</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Service</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let p of selectedUsers; let i=index;">
                <td>{{i+1}}</td>
                <td>{{p.username}}</td>
                <td>{{p.lastName}}</td>
                <td>{{p.firstName}}</td>
                <td>{{p.service.servName}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="form-actions">
            <button type="button" (click)="toNewFormation()" class="btn btn-primary">Nouvelle Formation</button>
          </div>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
</div>
