 <!--/.row-->
  <div class="row" *ngIf="mode==1">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Nouvelle formation
          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <button type="button" class="btn btn-minimize"
                    (click)="toggleCollapse()"><i class={{iconCollapse}}></i>
            </button>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed"
             class="card-body">
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveFormation(f.value)">
            <div class="form-group">
              <label class="control-label" for="formationName">Formation Name:</label>
              <input minlength="4" id="formationName" name="frmName" #formationName="ngModel" [(ngModel)]="formation.frmName" class="form-control" size="16" type="text" required>
              <div *ngIf="formationName.invalid && (formationName.dirty || formationName.touched)"
                   class="alert alert-danger">
                <div *ngIf="formationName.errors.required">
                  FormationName is required.
                </div>
                <div *ngIf="formationName.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="dateDebut">Date début:</label>
              <input id="dateDebut" class="form-control" name="dateStrt"  [(ngModel)]="formation.dateStrt" size="16" type="date" required>
            </div>

            <div class="form-group">
              <label class="control-label" for="dateFin">Date de fin:</label>
              <input id="dateFin" class="form-control" name="dateEnd"  [(ngModel)]="formation.dateEnd"  size="16" type="date" required>
            </div>

            <div class="form-actions">
              <button [disabled]="!f.valid" type="submit" class="btn btn-primary" ><i class="fa fa-dot-circle-o" ></i> Submit</button>
              <button type="reset" class="btn  btn-danger" (click)="onSaveFormation()"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>

        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->





  <div class="row" *ngIf="mode==2">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Confirmation de l'ajout
          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <button type="button" class="btn btn-minimize"
                    (click)="toggleCollapse()"><i class={{iconCollapse}}></i>
            </button>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed"
             class="card-body">

            <div class="form-group">
              <label class="control-label" for="formationName">Id Formation:</label>
              <label><strong>{{formation.id}}</strong></label>
            </div>

            <div class="form-group">
              <label class="control-label" for="formationName">Formation Name:</label>
              <label><strong>{{formation.frmName}}</strong></label>
            </div>

            <div class="form-group">
              <label class="control-label" for="dateDebut">Date début:</label>
              <label><strong>{{formation.dateStrt | date  }}</strong></label>
            </div>

            <div class="form-group">
              <label class="control-label" for="dateFin">Date de fin:</label>
              <label><strong>{{formation.dateEnd | date }}</strong></label>
            </div>

            <div class="form-actions">
              <button (click)="mode=1"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Nouveau Contact</button>
            </div>

        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->

  <simple-notifications [options]="options" (onCreate)="created($event)" (onDestroy)="destroyed($event)"></simple-notifications>
